<template>
  <div class="flex h-full overflow-hidden text-sm text-gray-900">
    <div class="flex-shrink-0 w-16 md:w-60 h-full bg-gray-200 overflow-y-auto">
      <div class="p-3">
        <div class="flex justify-center">
          <svg
            class="w-12 h-12 text-gray-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </div>

        <div class="mt-6 space-y-1">
          <router-link
            v-for="(link, i) in links"
            to="/"
            :key="`link-${i}`"
            class="flex justify-center md:justify-between w-full p-2 font-medium rounded hover:bg-gray-300 transition ease-out duration-150"
            :class="{ 'text-blue-500': i === 4 }"
          >
            <div class="space-x-2">
              <i class="fas" :class="link.icon"></i>
              <span class="hidden md:inline-block">{{ link.label }}</span>
            </div>
            <div
              v-if="link.count"
              class="hidden md:flex px-2 items-center text-xs rounded-full bg-red-500 text-white"
            >
              <span>{{ link.count }}</span>
            </div>
          </router-link>
        </div>
      </div>
    </div>

    <div class="h-full flex-1 flex flex-col">
      <header>
        <div class="p-3 grid grid-cols-3 border-b">
          <div class="hidden sm:flex col-span-1 items-center">
            <p class="font-medium">
              Overview / <span class="text-gray-500">Staff Messages</span>
            </p>
          </div>
          <div
            class="col-span-2 h-10 sm:col-span-1 flex items-center sm:justify-center"
          >
            <h1 class="font-medium text-xl text-gray-800">
              Paradise Point Resort
            </h1>
          </div>
          <div
            class="hidden sm:flex col-span-1 items-center justify-end space-x-4"
          >
            <button
              class="text-gray-500 hover:text-gray-700 transition ease-out duration-150"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
                ></path>
              </svg>
            </button>
            <button
              class="text-gray-500 hover:text-gray-700 transition ease-out duration-150"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                ></path>
              </svg>
            </button>
            <div class="h-10 w-10 rounded-full overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80"
                alt="User"
                class="w-full h-full object-fit"
              />
            </div>
          </div>
        </div>
      </header>

      <main class="flex-1 flex overflow-hidden">
        <div
          class="hidden md:block h-full w-72 xl:w-96 flex-shrink-0 flex flex-col border-r"
        >
          <div class="p-3">
            <div class="relative">
              <input
                class="block w-full border rounded bg-gray-100 py-3 pl-8 pr-3 focus:bg-white focus:ring focus:ring-blue-500 focus:ring-opacity-50 transition ease-out duration-150"
                type="text"
                placeholder="Guest Name or Room #"
              />
              <div
                class="absolute left-0 inset-y-0 flex items-center px-2 pointer-events-none text-gray-500"
              >
                <span
                  ><svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    ></path></svg
                ></span>
              </div>
            </div>
          </div>
          <div class="flex-1 flex flex-col overflow-hidden">
            <h2 class="px-3 text-xl font-medium border-b pb-2">Guest</h2>
            <div class="flex-1 overflow-y-auto">
              <div class="h-full overflow-y-auto">
                <div
                  v-for="(guest, i) in guests"
                  :key="`guest-card-${i}`"
                  class="flex items-center space-x-2 p-3 border-l-4 border-transparent hover:bg-gray-100 transition ease-out duration-150"
                  :class="{ 'border-blue-500': i === 0 }"
                >
                  <div class="relative w-16 h-16">
                    <div
                      class="absolute bottom-0 right-0 h-4 w-4 bg-green-500 rounded-full border-2 border-white"
                    ></div>
                    <img
                      :src="guest.avi"
                      :alt="guest.name"
                      class="h-full w-full object-cover rounded-full border-2"
                    />
                  </div>
                  <div>
                    <p class="font-medium text-base">{{ guest.name }}</p>
                    <p class="font-medium text-gray-400">
                      {{ guest.rooms.map(room => "#" + room).join(", ") }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-1 flex flex-col overflow-hidden">
          <div class="p-3 flex justify-end">
            <button
              class="px-6 py-3 space-x-2 font-medium text-white bg-blue-500 rounded border border-transparent hover:bg-opacity-90 transition duration-150 ease-out"
            >
              <i class="fas fa-comment-dots"></i><span>New Chat</span>
            </button>
          </div>
          <div class="px-3 pb-2 border-b">
            <h2 class="text-xl font-medium">Chat</h2>
          </div>
          <div
            class="flex-1 flex flex-col justify-end space-y-2 overflow-y-auto text-base overflow-hidden"
          >
            <div class="px-6 py-3 overflow-y-auto space-y-4">
              <div class="flex justify-end">
                <div class="flex flex-col items-end space-y-2">
                  <p class="font-medium text-sm text-gray-500 text-xs">
                    10:00AM
                  </p>
                  <div class="bg-sent rounded-xl px-4 py-3">
                    <p class="max-w-sm">Hello James, Nice to meet you.</p>
                  </div>
                  <div class="w-auto bg-sent rounded-xl px-4 py-3">
                    <p class="max-w-sm">
                      Following up from your previous email on Nata Job, is
                      there anything that needs help about Nata?
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex">
                <div class="flex flex-col items-start space-y-2">
                  <p class="font-medium text-sm text-gray-500 text-xs">
                    James (Engineer) 10:30AM
                  </p>
                  <div class="w-auto bg-recieved rounded-xl px-4 py-3">
                    <p class="max-w-sm">
                      Hello Barly, Nice to meet you too. Sorry for the delay. I
                      was a speaker at a conference and this took my full
                      attention lately.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex justify-end">
                <div class="flex flex-col items-end space-y-2">
                  <p class="font-medium text-sm text-gray-500 text-xs">
                    11:05AM
                  </p>
                  <div class="w-auto bg-sent rounded-xl px-4 py-3">
                    <p class="max-w-sm">
                      Oh, It's ok. If you need help with Nata Job, don't
                      hesitate to get in touch with me.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-3 flex items-stretch">
            <textarea
              class="flex-1 p-3 border rounded text-base placeholder-gray-600 focus:ring focus:ring-blue-500 focus:ring-opacity-50 transition ease-out duration-150"
              rows="3"
              placeholder="Type your message..."
            ></textarea>
            <div class="flex flex-col items-center justify-between w-16">
              <button
                class="p-2 text-2xl text-gray-400 hover:text-blue-500 transition ease-out duration-150"
              >
                <i class="fas fa-paper-plane"></i>
              </button>
              <button
                class="p-2 text-2xl text-gray-400 hover:text-blue-500 transition ease-out duration-150"
              >
                <i class="fas fa-grin"></i>
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    links: [
      {
        label: "Overview",
        icon: "fa-desktop",
        count: 0,
      },
      {
        label: "Service Requests",
        icon: "fa-concierge-bell",
        count: 0,
      },
      {
        label: "Luggage",
        icon: "fa-luggage-cart",
        count: 0,
      },
      {
        label: "Staff Messages",
        icon: "fa-comments",
        count: 1,
      },
      {
        label: "Guest Messages",
        icon: "fa-comment-dots",
        count: 1,
      },
      {
        label: "Guests",
        icon: "fa-user-friends",
        count: 0,
      },
      {
        label: "SMS Text",
        icon: "fa-sms",
        count: 8,
      },
      {
        label: "SMS Messages",
        icon: "fa-mobile-alt",
        count: 0,
      },
      {
        label: "Staff",
        icon: "fa-users",
        count: 11,
      },
      {
        label: "Managers",
        icon: "fa-user-tie",
        count: 3,
      },
      {
        label: "Request Routing",
        icon: "fa-list",
        count: 0,
      },
      {
        label: "Auto Replies",
        icon: "fa-reply",
        count: 0,
      },
      {
        label: "Reports",
        icon: "fa-flag",
        count: 0,
      },
      {
        label: "Send Apps",
        icon: "fa-mobile-alt",
        count: 0,
      },
      {
        label: "Support",
        icon: "fa-life-ring",
        count: 0,
      },
      {
        label: "Access & Activity",
        icon: "fa-lock",
        count: 0,
      },
    ],
    guests: [
      {
        name: "James William",
        avi:
          "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80",
        rooms: [545],
      },
      {
        name: "Aura Paisley",
        avi:
          "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80",
        rooms: [501, 502],
      },
      {
        name: "Mia Sophia",
        avi:
          "https://images.unsplash.com/photo-1508002366005-75a695ee2d17?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80",
        rooms: [401],
      },
      {
        name: "Isabella Olivia",
        avi:
          "https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80",
        rooms: [408],
      },
      {
        name: "Jacob Hebrew",
        avi:
          "https://images.unsplash.com/photo-1527082395-e939b847da0d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=200&h=200&facepad=2&q=80",
        rooms: [500],
      },
    ],
  }),
};
</script>
